:root {
  --q-red: 237 54 36;
  --q-red-dark: 217 46 32;

  --q-grey: 61 61 61;
  --q-grey-light: 230 230 230;
  --q-grey-dark: 43 43 43;

  --q-green: 168 216 50;
  --q-yellow: 249 243 197;
  --q-purple: 252 104 182;
  --q-blue: 124 186 247;
}
