:root {
  --willy-gray: 231 230 225;
  --willy-gray--alt: 244 243 239;
  --willy-black: 20 20 20;
  --willy-primary-text: 56 56 56;
  --willy-primary-color: 255 159 28;
  --willy-primary-color--pastel: 255 184 87;
  --willy-secondary-color: 8 126 139;
  --willy-tertiary-color: 198 39 26;
  --willy-tertiary-color--alt: 231 53 54;
}
