@font-face {
  font-family: 'geomanist';
  src: url('https://static.radio.dpgmedia.net/fonts/joe/geomanist/geomanist-light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geomanist';
  src: url('https://static.radio.dpgmedia.net/fonts/joe/geomanist/geomanist-book.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geomanist';
  src: url('https://static.radio.dpgmedia.net/fonts/joe/geomanist/geomanist-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geomanist';
  src: url('https://static.radio.dpgmedia.net/fonts/joe/geomanist/geomanist-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geomanist';
  src: url('https://static.radio.dpgmedia.net/fonts/joe/geomanist/geomanist-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
