@font-face {
  font-family: 'Cervo';
  src: url('https://static.radio.dpgmedia.net/fonts/qmusic/cervo/cervo-light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cervo';
  src: url('https://static.radio.dpgmedia.net/fonts/qmusic/cervo/cervo-medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qarla';
  src: url('https://static.radio.dpgmedia.net/fonts/qmusic/qarla/qarla-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qarla';
  src: url('https://static.radio.dpgmedia.net/fonts/qmusic/qarla/qarla-bolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Qarla';
  src: url('https://static.radio.dpgmedia.net/fonts/qmusic/qarla/qarla-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Qarla';
  src: url('https://static.radio.dpgmedia.net/fonts/qmusic/qarla/qarla-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BlackBones';
  src: url('https://static.radio.dpgmedia.net/fonts/qmusic/black-bones/black-bones.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
