@import 'fonts';

@font-face {
  font-family: 'Cervo';
  src: url('https://fonts.qmusic.be/cervo-light-webfont.eot');
  src: url('https://fonts.qmusic.be/cervo-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://fonts.qmusic.be/cervo-light-webfont.woff2') format('woff2'),
  url('https://fonts.qmusic.be/cervo-light-webfont.woff') format('woff'),
  url('https://fonts.qmusic.be/cervo-light-webfont.ttf') format('truetype'),
  url('https://fonts.qmusic.be/cervo-light-webfont.svg#cervolight') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cervo medium';
  src: url('https://fonts.qmusic.be/cervo-medium-webfont.eot');
  src: url('https://fonts.qmusic.be/cervo-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://fonts.qmusic.be/cervo-medium-webfont.woff2') format('woff2'),
  url('https://fonts.qmusic.be/cervo-medium-webfont.woff') format('woff'),
  url('https://fonts.qmusic.be/cervo-medium-webfont.ttf') format('truetype'),
  url('https://fonts.qmusic.be/cervo-medium-webfont.svg#cervomedium') format('svg');
  font-weight: 600;
  font-style: normal;
}
