@font-face {
  font-family: "geomanist";
  font-style: normal;
  font-weight: 200;
  src: url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-light-webfont.eot?") format("eot"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-light-webfont.woff2") format("woff2"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-light-webfont.woff") format("woff")
}

@font-face {
  font-family: "geomanist";
  font-style: normal;
  font-weight: 300;
  src: url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-book-webfont.eot?") format("eot"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-book-webfont.woff2") format("woff2"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-book-webfont.woff") format("woff")
}

@font-face {
  font-family: "geomanist";
  font-style: normal;
  font-weight: 400;
  src: url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-regular-webfont.eot?") format("eot"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-regular-webfont.woff2") format("woff2"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-regular-webfont.woff") format("woff")
}

@font-face {
  font-family: "geomanist";
  font-style: normal;
  font-weight: 500;
  src: url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-medium-webfont.eot?") format("eot"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-medium-webfont.woff2") format("woff2"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-medium-webfont.woff") format("woff")
}

@font-face {
  font-family: "geomanist";
  font-style: normal;
  font-weight: 600;
  src: url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-bold-webfont.eot?") format("eot"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-bold-webfont.woff2") format("woff2"),url("https://static1.qmusic.medialaancdn.be/store/static/fonts/geomanist-bold-webfont.woff") format("woff")
}
