$joe-lime: #CEDC00;

$joe-purple: #234;
$joe-purple-dark: #5C1D54;
$joe-purple-light: #234;

$joe-green: #03706C;
$joe-green-dark:#094C59;
$joe-green-light: #14A08C;

$joe-red: #BA1634;
$joe-red-dark: #9A1736;
$joe-red-light: #F02846;



