$q-red: #ED3624;
$q-grey: #3D3D3D;
$q-teal: #00BFB3;
$q-yellow: #F9D423;
$q-purple: #D26EE6;
$q-green: #97D700;
$q-blue: #0286FF;

$q-red-dark: #cd2211;
$q-blue-dark: #090086;

$q-blue-light: #5BC2E7;
$q-teal-light: #B8E5D1;
$q-grey-light: #F9F9FA;
$q-purple-light: #F4E0F9;



